* {
  border: 0px;
  padding: 0px;
  margin: 0px;
}
@font-face {
  font-family: "teste";
  src: url("./fonts/Pokemon.ttf");
}
.pokedex {
  height: 50px;
  margin: 0px 30px;
  cursor: pointer;
}
.search {
  margin: 0px 30px;
  padding: 5px;
}
.search:focus {
  outline: solid rgb(92, 185, 255);
}
.navbar {
  background-color: rgb(238, 21, 21);
  width: 100%;
}
body {
  background-color: rgb(92, 185, 255);
}
h3 {
  font-family: "teste";
  color: rgb(0, 0, 0);
  font-size: 40px;
}
.load {
  width: 20px;
  border-radius: 50px;
  height: 20px;
  background-color: red;
  margin: 13px 3px;

  animation: loading 2.5s ease-in-out infinite;
}

.pai {
  align-items: center;
  justify-content: center;
}
.container_pokemons {
  box-sizing: border-box;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-image-modal {
  position: relative;
  top: 90px;
  width: 60%;
  z-index: 1000;
}
.container-float {
  height: 20vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon-name-modal {
  margin: 2em 0.6em 0em;
}
.container-stat {
  padding: 10px;
  margin: 1em 0.6em;
  outline: black 1px solid;
  box-shadow: 3px 5px 2px black;
}
p,
h4 {
  font-size: 1.5em;
}
.modal-body {
  overflow: auto;
}
.modal {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);

  height: 100vh;

  overflow: hidden;
}
.modal-dialog {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: -1% auto -4% auto;
}
.modal-content {
  border-radius: 60px;
  outline: black solid;
}
.modal-header,
.modal-footer {
  border: none;
}
.modal-footer {
  padding: 0.2em 0.2em;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 50px 20px 5px;
  width: 250px;
  cursor: pointer;
  object-fit: cover;
  position: relative;
  justify-self: flex-start;
}
.card:hover {
  animation: cardAnimation 2s ease-in-out;
}

@keyframes cardAnimation {
  30% {
    transform: rotate(20deg);
  }
  60% {
    transform: rotate(-20deg);
  }
  90% {
    transform: rotate(0deg);
  }
}

@keyframes loading {
  0%,
  100% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
    background-color: aqua;
  }
}
@media screen and (max-width: 850px) {
  .modal-content {
    width: 60%;
  }
  p,
  h4 {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 290px) {
  .modal-content {
    width: 80%;
  }
}

.load:nth-child(1) {
  animation-delay: 0.2s;
}
.load:nth-child(2) {
  animation-delay: 0.4s;
}
.load:nth-child(3) {
  animation-delay: 0.6s;
}
